<!DOCTYPE HTML>
<html ng-app="browsingAnalyticsApp">
  <head>
    <title>Browsing Habit</title>
    <meta charset="UTF-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/crossfilter/crossfilter.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/dcjs/dc.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/dcjs/dc.css"></link>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="main.css"></link>
    <script src="db.js"></script>
    <script src="tabs-crossfilter.js"></script>
    <script src="goalsController.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-primary panel1">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <div id="domain-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-primary panel1">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <div id="hour-int-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="panel panel-primary panel1">
          <div class="panel-heading">
            Goals
          </div>
          <div class="panel-body" ng-controller="GoalsController">
            Domain: <input ng-model="domain">
            Duration: <input ng-model="duration">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="panel panel-primary">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
              <div id="year-line-chart"></div>
              <div id="year-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="browsinghabit.js"></script>
  </body>
</html>

