@import url(http://fonts.googleapis.com/css?family=Roboto:500);
body {
	font-family: Roboto;
  padding-top: 50px;
}

h3 {
	margin: 0;
	text-align: center;
}

h4 {
	padding-top: 0px;
}

p {
  margin-bottom: 0px;
}
.dc-chart .brush rect.extent {
    fill: #dcda98;
    fill-opacity: .30;
}

.dc-chart g.row text {
    fill: black;
    font-size: 14px;
    cursor: pointer;
}

.panel1 {
	height: 275px;
}

.panel2 {
	width: inherit;
}

.panel-theme {
  border-color: #a7e8c5;
}

.panel-theme > .panel-heading {
  color: #2e2e2e;
  background-color: #a7e8c5;
  border-color: #a7e8c5;
}

.panel-theme > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a7e8c5;
}

.panel-theme > .panel-heading .badge {
  color: #a7e8c5;
  background-color: #fff;
}

.panel-theme > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a7e8c5;
}

.panel-theme {
  background-color: #f1f1f1;
}

.panel-body {
  padding-bottom: 0px;
}

#year-chart {
	padding-top: 10px;
}

.navbar {
  min-height: 40px;
}

.navbar.navbar-default {
  background-color: #acdfd2;
}

.navbar-header .navbar-brand {
  padding: 5px 5px;
  height: 40px;
}

.navbar-header .navbar-brand img {
  height: 30px;
}

.nav.navbar-right .btn.btn-default {
  margin-top: 3px;
  margin-right: 2px;
}

div.modal .modal-content {
  background-color: #acdfd2;
}

div.modal .modal-body {
  background-color: #fff;
}


table .remove-goal span {
  cursor: pointer;
  color: red;
}
