::selection {
	background-color:Transparent;
}

div.header {
	background-color: #acdfd2;
}

div.header img {
	display: block;
	margin: 0 auto;
}

div.info-label {
	text-align: center;
	color: #2e2e2e;
	font-size: 16px;
	line-height: 30px;
}

div.pie-indicator div {
	display: block !important;
	margin: 0 auto;
	text-align: center;
}

div.pie-indicator input {
	color: #000 !important;
	font-weight: lighter !important;
}

div.top-sites {
	text-align: center;
	color: #2e2e2e;
	font-size: 16px;
	margin-top: 5px;
}

div.top-sites ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
	color: #f29885;
}

div.btn-footer {
	background-color: #acdfd2;
	height: 45px;
}

div.btn-footer button {
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
	border: none;
}