<html>
<body>
<div class="container">
<div class="page-header">
  <h1><p align="middle">IWANTOKNOW.<small>me</small></h1>
</div>

<p><span style="font-size:19px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Hi, </p>

<p><span style="font-size:19px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">You have browse for...</p>

<p><span style="font-size:14px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Today: </p>

<p><span style="font-size:14px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">This week: </p>

<p><span style="font-size:14px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">This month: </p>


<div class="row">
  <div class="col-xs-6">
<table class="table table-bordered">
<tr> <td align="middle">Your Top 5 Most Frequent Sites</td> </tr>
<tr> <td>1)   </td>  </tr>
<tr> <td>2)   </td>  </tr>
<tr> <td>3)   </td>  </tr>
<tr> <td>4)   </td>  </tr>
<tr> <td>5)   </td>  </tr>
</table>
</div>

<div class="col-xs-6">
<table class="table table-bordered">
<tr> <td align="middle">Your Top 5 Favourite Catogery</td></tr>
<tr> <td>1)   </td>  </tr>
<tr> <td>2)   </td>  </tr>
<tr> <td>3)   </td>  </tr>
<tr> <td>4)   </td>  </tr>
<tr> <td>5)   </td>  </tr>
</table>
</div>
</div>
</div>
</body>
</html>