<html>
<body>
<div class="container">
<div class="page-header">
  <h1><p align="middle">IWANTOKNOW.<small>me</small></h1>
</div>

<p align="middle"><span style="font-size:19px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Hi, do you wanna know more about your browsing habits? </p>
<br>

<p align="middle"><span style="font-size:19px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">You have browse for...</p>
<br>

<p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Today: </p>
<br>

<p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">This week: </p>
<br>

<p><span style="font-size:16px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">This month: </p>
<br>

<p align="middle"><span style="font-size:19px;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Wanna know more? </p>

<form action="http://google.com">
<p align="middle">
    <input type="submit" value="Click Here">
</form>


</div>
</body>
</html>